/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.mc-woocommece-settings-subtitles {
	font-family: Proxima Nova, Arial, Helvetica, sans-serif;
	font-size: 22px;	
	line-height: 32px;
	color: #3C3C3C;
}

.notice {
	background: rgba(127, 173, 69, 0.1);
	mix-blend-mode: normal;
	border: 1px solid rgba(127, 173, 69, 0.5);
	box-sizing: border-box;
	border-radius: 4px;
}

.notice.notice-error {
	background: rgba(250, 50, 50, 0.1);
	border: 1px solid rgba(250, 50, 50, 0.5);
}

.notice.notice-info {
	background: rgba(0, 160, 210, 0.1);
	border: 1px solid rgba(0, 160, 210, 0.5);
}

.notice.notice-warning {
	background: rgba(255, 185, 0, 0.1);
	border: 1px solid rgba(255, 185, 0, 0.5);
}


.nav-tab-wrapper {
	border-bottom: 2px solid white !important;
	margin-bottom: 25px !important;
}

.nav-tab-wrapper .nav-tab {
	background: #F1F1F1;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #F1F1F1;
	border-bottom: none;
	font-family: Proxima Nova, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #212121;
	padding: 20px 25px;
	-webkit-transition: padding 0.1s ease-out;
	-moz-transition: padding 0.1s ease-out;
	-o-transition: padding 0.1s ease-out;
	transition: padding 0.1s ease-out;
}

.nav-tab-wrapper .nav-tab:hover:not(.nav-tab-active) {
	background: #F5F5F5;
	font-family: Proxima Nova, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-align: center;
	color: #212121;
	padding: 18px 25px 22px 25px;
	-webkit-transition: padding 0.1s ease-out;
	-moz-transition: padding 0.1s ease-out;
	-o-transition: padding 0.1s ease-out;
	transition: padding 0.1s ease-out;
}

.nav-tab-wrapper .nav-tab-active {
	background: white;
	padding: 18px 25px 22px 25px;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #F1F1F1;
	border-bottom: none;
}

.tab-content-wrapper {
	background: white;
	padding: 22px;
}

.tab-content-wrapper p.submit {
	margin-top: 0 !important;
	margin-bottom: 35px !important;
}

.tab-content-wrapper .tab-content-submit {
	font-family: Proxima Nova Alt, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 16px;
	padding: 15px 35px 27px 35px;
	
	/* identical to box height */
	text-transform: uppercase;
	color: #FFFFFF;
	background: #7FAD45;
	border-radius: 100px;
	float:right;
	border: none;
	box-shadow:0 1px 0 #719a74;
	text-shadow:0 -1px 1px #719a74,1px 0 1px #719a74,0 1px 1px #719a74,-1px 0 1px #719a74
}

.tab-content-wrapper .tab-content-submit:focus,.tab-content-wrapper .tab-content-submit:hover{
	background: rgb(149, 189, 101);
	border-color: rgb(149, 189, 101);
	color:#fff;
	box-shadow:0 1px 0 rgb(149, 189, 101);
}

.tab-content-wrapper label {
	display: block;
	font-family: Proxima Nova, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #3C3C3C;
}

.tab-content-wrapper fieldset.half {
	display: inline;
	width: 48%;
	margin-bottom: 15px;
}

.tab-content-wrapper fieldset.full {
	display: inline;
	width: 100%;
	margin-bottom: 15px;
}

.tab-content-wrapper fieldset.third {
	display: inline;
	width: 33%;
	margin-bottom: 15px;
}

.tab-content-wrapper fieldset input {
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 15px 20px;
	width: 80%;
}
.tab-content-wrapper fieldset .mailchimp-select-wrapper {
	border: 1px solid #E6E6E6;
	padding: 7px 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 71%;
}
.tab-content-wrapper fieldset select {
	background: transparent;	
	font-size: 14px;
	border: none;
	-webkit-appearance: none;
	box-shadow: none;
	outline: none;
	width: 100%;
	color: #000;
	color: rgba(0,0,0,0);
	text-shadow: 0 0 0 #000;
	background: no-repeat right center url("data:image/svg+xml;charset=UTF-8,%3csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.34 0.590027L6.75 5.17003L2.16 0.590027L0.75 2.00003L6.75 8.00003L12.75 2.00003L11.34 0.590027Z' fill='%23212121'/%3e%3c/svg%3e ");
}

.tab-content-wrapper fieldset select:focus {
	outline: none;
}

.tab-content-wrapper fieldset textarea {
	border: 1px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 15px 20px;
	width: 100%;
	
}


/* Old styles from tabs.php */

#sync-status-message strong {
	font-weight:inherit;
}
#log-viewer {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	padding: 5px 20px;
}
#log-viewer-select {
	padding: 10px 0 8px;
	line-height: 28px;
}
#log-viewer pre {
	font-family: monospace;
	white-space: pre-wrap;
}
user agent stylesheet
pre, xmp, plaintext, listing {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0px;
}

@media screen and (max-width: 782px) {
	.tab-content-wrapper .tab-content-submit {
		padding: 15px 35px 15px 35px;
	}

	.tab-content-wrapper fieldset.half {
		display: inline;
		width: 100%;
		margin-bottom: 15px;
	}
}